
/* splash page */

.splash-grid-container {
	display: grid;
	/*grid-template-rows: auto auto auto;
	grid-auto-rows: auto;*/
	border-bottom: 20px solid var(--main-bg-color);
	place-items: stretch stretch;
	grid-row-gap: 5vh;
	column-gap: 5vw;
	padding: 1vh 2vw 1vh 2vw;
	box-sizing: border-box;
	grid-template-areas:
		"title nav nav nav nav nav nav"
	    "left-pane note1 note1 note1 note2 . .";
}

.splash-grid-container > div {
	border-radius: 10px;
	background-color: var(--path-color);
	padding: 2vh 1vw 2vh 1vw;
}

.splash-grid-container > .nav-items {
	grid-area: nav;
	display: inline-grid;
	grid-template-columns: repeat( auto-fit, minmax(15%, 1fr) );
	/*grid-auto-rows: auto;*/
	place-items: stretch stretch;
	grid-column-gap: 0vw;
	box-sizing: border-box;
	direction: rtl;
	padding: 1vh 1vw 1vh 0;
	line-height: calc(var(--font-multiplier) * 6vh);
	align-items: center
}

.splash-grid-container > .left-pane {
	grid-area: left-pane;	
}

.left-pane li {
	list-style-type: none;
	line-height: calc(var(--font-multiplier) * 2.4vh);
	font-size: calc(var(--font-multiplier) * 1em);
}

.left-pane li::before {
    content: none;
    margin-right: 0.5em;
}

.left-pane li > a {
	text-decoration: none;
	color: var(--button-color);
}

.left-pane li > a:hover {
	color: var(--hover-color);
	background-color: var(--tag-color);
}
.left-pane > h2 {
	padding: 2vh 0 2vh 0;
}

.splash-grid-container > .nav-items > a {
	padding: 0vh 0vw 0vh 0vw;
	background-color: var(--path-color);
	text-align: center;
	text-decoration: none;
	font-family: var(--main-font);
	color: var(--button-color);
	font-size: calc(var(--font-multiplier) * 1.2em);
	line-height: 4;
}

.splash-grid-container > .nav-items > a:hover {
    background-color: var(--hover-bg-color);
	color:  var(--hover-color);
}

.splash-grid-container > .header {
	grid-area: title;
	text-align: center;
}
.splash-grid-container > .note1 {
	grid-area: note1;
	font-size: calc(var(--font-multiplier) * 1.2em);
}
.note1 p {
	font-size: calc(var(--font-multiplier) * 1.2em);
	line-height: 3vh;
}

.splash-grid-container > .note2 {
	grid-area: note2;
}

.splash-grid-container > div:nth-child(5) {
	grid-area: img;
	background-color: var(--button-color);
	background-image: url('../imgs/Screenshot 2023-04-27 010137.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1.5s;
	padding: 0;
}

.splash-grid-container > div:nth-child(6) {
	grid-area: note3;
	
}
/*
#splash-item4  {
	grid-column: 3 / span 1;
	grid-row: 1 / span 2;
	padding: 15px;
	background-image: url('cover_1.jpg');
	background-position: center;
	width: 100%;
	border-radius: 10px;
}
*/

.gallery {
	height: 50vh;
	overlow-x: auto;
	overflow-y: hidden;
	z-index: 1000;
	white-space: nowrap;
}
  
.gallery > div {
	width: 60vw;
	height: 100%;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gallery > div > div {
	position: relative;
	width: 30%;
	height: 50%;
}

.gallery h2 {
	color: var(--main-font-color);
	font-family: var(--main-font);
	font-size: calc(var(--font-multiplier) * 2em);
	text-align: center;
	position: relative;
	top: 10%;
	left: 2%;
}

.gallery p {
	position: relative;
	top: 15%;
	left: 2%;
	white-space: normal;
}

.partners {
	display: flex;
}
.partners > img {
	width: 80%;
	margin: auto;
}

.pitches {
	padding: 1vh !important;
	font-family: var(--main-font);
	color: var(--nav-title-color);
	font-size: calc(var(--font-multiplier) * 2em);
	margin: 1vh;
	text-align: center;
}


#cover1 {
	height: 75vh;
}

@media all and (max-width: 1000px) {
	.splash-grid-container {
		grid-template-columns: 1fr;
		grid-template-areas:
	    "title title title title title title title"
		"left-pane left-pane left-pane left-pane left-pane left-pane left-pane"
		"note1 note1 note1 note1 note1 note1 note1";
	}
	.splash-grid-container .left-pane {
		text-align: center;
	}
	footer > div:nth-child(1) {
		text-align: center;
	}
	.note1 h1,
	.note1 h2,
	.note1 h3,
	.note1 h4,
	.note1 h5,
	.note1 h6 {
		text-align: center;
	}
}