@charset "utf-8";
/* CSS Document */

/*special google fonts import*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
/* HK grotesk on font squirrel is good too */


/* styles.css | file:///C:/Users/emory/Desktop/mandat_tryspaces/tryspaces/demo_mtlNordalacarte/styles.css */


/* styles.css | file:///C:/Users/emory/Desktop/mandat_tryspaces/tryspaces/demo_mtlNordalacarte/styles.css */

/*
theme1
	--main-bg-color: #eadbcf;	
	--nav-title-color: #364d4d;
	--path-color: #548fbb;
	--main-text-color: #7e7f7f;
	--caption-color: #8089FF;
	--link-color: #363EB3;
	--button-color: #364d4d;
	--tag-color: #7dbfd3;
	--hover-color: black;
	--hover-bg-color: pink;
	--selection-color: yellow;
*/

body {
	--main-bg-color: #fff;	
	--nav-title-color: #212529;
	--path-color: #fff;
	--main-text-color: #000;
	--caption-color: #728794;
	--link-color: #ADBDC7;
	/*--link-color: #C2D5E0;*/
	/*--button-color: #AB91B3;*/
	--button-color: #3A407A;
	--tag-color: #ed8266;
	--hover-color: #212529;
	--hover-bg-color: #ced4da;
	--selection-color: #E0DFAD;
	--map-selection-color: #ed8266;
	--font-multiplier: 1.2;
	--content-gap: 1em;
	--item-gap: 0.2em;
	--default-item-color: rgb(200,200,200);
	--navheight: 10vh;
	/*--main-font: var(--main-font);*/
	--main-font: sans-serif;
    z-index: 1;
    margin: auto 0; 
	font-size: 16px;
	overflow-y: scroll;
}

h1 {
	font-family: var(--main-font);
	color: var(--nav-title-color);
	font-size: calc(var(--font-multiplier) * 4em);
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}

.projectTitle h1 {
}

/* styles.css | file:///C:/Users/emory/Desktop/mandat_tryspaces/tryspaces/demo_mtlNordalacarte/styles.css */

h2 {
	font-family: var(--main-font);
	font-size: calc(var(--font-multiplier) * 1em);
	font-weight: normal;
	display: inline;
	padding:0px 0px 0px 0px;
}
h3 {
	font-family: var(--main-font);
	color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * 1em);
	font-weight: regular;
}
h4 {
	font-family: var(--main-font);
	color: var(--hover-color);
	font-size: calc(var(--font-multiplier) * 1em);
	font-weight: regular;
}
p {
	font-family: var(--main-font);
	color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * 1em);
	font-weight: regular;
	padding:0px 0px 0px 0px;
}
button {
    cursor: pointer;
    padding: 2px 15px;
    margin-left: 10px;
}

footer {
  	height: 60px;
    width: 50%;
	font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px; 
}

/* navbar */

.nav-grid-container {
	display: inline-grid;
	grid-template-columns: repeat( auto-fit, minmax(10%, 15%) );
	/*grid-auto-rows: auto;*/
	place-items: stretch stretch;
	grid-column-gap: 0vw;
	box-sizing: border-box;
	direction: rtl;
	width: 100%;
}

.nav-grid-container > a {
	padding: 0vh 0vw 0vh 0vw;
	background-color: var(--path-color);
	text-align: center;
	line-height: 8vh;
	text-decoration: none;
	font-family: var(--main-font);
	color: var(--button-color);
	font-size: calc(var(--font-multiplier) * 1em);
}

.nav-grid-container > a:hover {
    background-color: var(--hover-bg-color);
	color:  var(--hover-color);
}


.inline-grid {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
	place-items: stretch stretch;
	grid-row-gap: 0vh;
	grid-column-gap: 0vw;
	margin: 2vh;
	padding: 0;
	box-sizing: border-box;
	place-items: center;
}

/* splash page */

.splash-grid-container {
	display: grid;
	/*grid-template-rows: auto auto auto;
	grid-auto-rows: auto;*/
	border-bottom: 20px solid var(--main-bg-color);
	place-items: stretch stretch;
	grid-row-gap: 0vh;
	column-gap: 0vw;
	padding: 1vh 2vw 1vh 2vw;
	box-sizing: border-box;
	grid-template-areas:
		"title title nav nav nav nav nav"
	    "title title note1 note1 note1 note1 note1"
	    "note2 note2 note2 img img img img"
		"note3 note3 note3 note3 note3 note3 note3"
		"note4 note4 note4 note4 note4 note4 note4";
}

.splash-grid-container > div {
	border-radius: 10px;
	background-color: var(--path-color);
	padding: 2vh 1vw 2vh 1vw;
}

.splash-grid-container > div:nth-child(1) {
	grid-area: nav;
	display: inline-grid;
	grid-template-columns: repeat( auto-fit, minmax(15%, 1fr) );
	/*grid-auto-rows: auto;*/
	place-items: stretch stretch;
	grid-column-gap: 0vw;
	box-sizing: border-box;
	direction: rtl;
	padding: 1vh 1vw 1vh 0;
	line-height: calc(var(--font-multiplier) * 6vh);
	align-items: center
}

.splash-grid-container > div:nth-child(1) > a {
	padding: 0vh 0vw 0vh 0vw;
	background-color: var(--path-color);
	text-align: center;
	text-decoration: none;
	font-family: var(--main-font);
	color: var(--button-color);
	font-size: calc(var(--font-multiplier) * 1.2em);
	line-height: 4;
}

.splash-grid-container > div:nth-child(1) > a:hover {
    background-color: var(--hover-bg-color);
	color:  var(--hover-color);
}

.splash-grid-container > div:nth-child(2) {
	grid-area: title;
	text-align: center;
}
.splash-grid-container > div:nth-child(3) {
	grid-area: note1;
	font-size: calc(var(--font-multiplier) * 1.2em);
}

.splash-grid-container > div:nth-child(4) {
	grid-area: note2;
}

.splash-grid-container > div:nth-child(5) {
	grid-area: img;
	background-color: var(--button-color);
	background-image: url('../imgs/Screenshot 2023-04-27 010137.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1.5s;
	padding: 0;
}

.splash-grid-container > div:nth-child(6) {
	grid-area: note3;
	
}
/*
#splash-item4  {
	grid-column: 3 / span 1;
	grid-row: 1 / span 2;
	padding: 15px;
	background-image: url('cover_1.jpg');
	background-position: center;
	width: 100%;
	border-radius: 10px;
}
*/

.partners {
	display: flex;
}
.partners > img {
	width: 80%;
	margin: auto;
}

.pitches {
	padding: 1vh !important;
	font-family: var(--main-font);
	color: var(--nav-title-color);
	font-size: calc(var(--font-multiplier) * 2em);
	margin: 1vh;
	text-align: center;
}


#cover1 {
	height: 75vh;
}

/* left pane */

.introContainer {
	float: left;
	padding: 0px 0px 0px 0px;
	width: 100%;
	line-height:normal;
	grid-column: 1/-1;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-auto-rows: auto;
	border-bottom: 20px solid var(--main-bg-color);
	width: 100%;
	grid-template-areas: 'header' 'main';
}
.contentContainer {
	position: relative;
	grid-column: span 1;
}

.audio.contentContainer {
	grid-column: span 2;
}

img.mediaWrapper {
	position: relative;
	border-radius: 5px;
	margin: 0px 10px 0px 0px;
    width: 100%;
	height: auto;
    box-sizing: border-box;
	/*
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition:all 0.5s linear;
	
	-moz-box-shadow: 2px 2px 4px 0px var(--hover-color);
	-webkit-box-shadow:  2px 2px 4px 0px var(--hover-color);
	box-shadow: 2px 2px 4px 0px var(--hover-color);
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;
	*/
}

/* if audio item, make larger in grid */
/* not working till CSS4, using jquery for now */
.contentContainer:has(> audio.mediaWrapper) {
	grid-column: span 2;
}

audio.mediaWrapper {
	border-radius: 5px;
    width: 100%;
	/*
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition:all 0.5s linear;
	
	-moz-box-shadow: 2px 2px 4px 0px var(--hover-color);
	-webkit-box-shadow:  2px 2px 4px 0px var(--hover-color);
	box-shadow: 2px 2px 4px 0px var(--hover-color);
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;
	border-radius:0px 0px 0px 0px ;
	*/
}

video.mediaWrapper {
	border-radius: 5px;
    width: 100%;
}
/*img styling adapted from audio

img:hover, img:focus, img:active {
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

/*audio styling from https://codepen.io/rxrhy/pen/QVLWMY 

audio:hover, audio:focus, audio:active {
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	transform: scale(1.03);
}
*/
.annotationContainer {
	visibility: hidden;
	position: absolute;
	/*border-radius: 5px;*/
	margin: 10px 10px 10px 10px;
	background-color: rgba(0, 0, 0, .8);
	left: 0;
	right: 0;
	padding: 5% 5% 5% 5%;
}

/*when audio, push annotation container lower so they don't overlap*/
audio + .annotationContainer {
	visibility: visible;
	position: relative;
}

img + .annotationContainer {
	bottom: 0;
}

/*when audio, push annotation container lower so they don't overlap*/
video + .annotationContainer {
	bottom: 15%;
}

#box {
	position: relative;
}

#legend {
	padding: 10px;
	background-color: var(--main-bg-color);
	border-radius: 10px 50px 10px 50px;
	z-index: 999;
}

.some-div {
	position: absolute;
	bottom: 1vh;
	left: 0.5vw;
	overflow-y: visible;
	overflow-x: visible;
}

#parent-div {
	height: 30vh;
	width: 12vw;
	z-Index: 998;
}

#no-scrolling-clicking {

}

#leftPane {
	height: 93%;
	width: 40%;
	right: 0px;
    position: absolute;
    padding: 0% 0% 0% 1%;
    box-sizing: border-box;
    overflow-x: hidden;
    justify-content: center;
}

#leftPane > header {
  grid-area: header;
}

#leftPane > main {
	display: grid;
	grid-area: main;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content;
	grid-gap: var(--content-gap);
	margin-bottom: var(--content-gap);
	overflow-y: scroll;
	overflow-x: hidden;
}


/* firefox-only scrollbar class to use in divs */
.scroller {
	scrollbar-color: var(--default-item-color) var(--main-bg-color);
	scrollbar-width: thin;
}
/*
.scroller2 {
	scrollbar-color: var(--default-item-color) var(--main-bg-color);
	scrollbar-width: thin;
	overflow-y: scroll;
	overflow-x: hidden;
}
*/
/* chrome default scrollbar styles */
::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--default-item-color);
}

.caption {
	color: var(--caption-color);
	font-size: calc(var(--font-multiplier) * 0.8em);
}

.quotation {
	display: inline;
	font-style: italic;
}

.theme_tags {
	color: var(--caption-color);
}

.theme_tags > span {
	font-family: var(--main-font);
	color: var(--tag-color);
	font-size: calc(var(--font-multiplier) * 0.8em);
	font-weight: bold;
	border: 1px;
	border-style: solid;
	border-color: var(--tag-color);
	border-radius: 5px;
	display: inline-block;
	font-weight: lighter;
	
	margin: var(--item-gap) 0 0 var(--item-gap);
	padding: var(--item-gap) var(--item-gap) var(--item-gap) var(--item-gap)
}

.theme_tags > span:hover {
	color: var(--hover-color);
	background-color: var(--tag-color);
	cursor: pointer;
}

.path_tags {
	color: var(--caption-color);
}

span.path_tag {
	font-family: var(--main-font);
	color: var(--button-color);
	font-size: calc(var(--font-multiplier) * 1em);
	font-weight: bold;
	border-radius: 5px;
	display: inline-block;
	margin: var(--item-gap) 0 0 var(--item-gap);
	padding: var(--item-gap) var(--item-gap) var(--item-gap) var(--item-gap);
	border: 1px;
	border-style: solid;
	border-color: var(--button-color);
}
h3 > span.path_tag {
	color: var(--main-text-color);
	border-color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * 0.8em);
	font-weight: lighter;
}

span.path_tag:hover {
	color: var(--hover-color);
	background-color: var(--button-color);
	cursor: pointer;
}

h3 > span.path_tag:hover {
	color: var(--hover-color);
	background-color: var(--main-text-color);
	cursor: pointer;
}

.selected {
	background-color: var(--selection-color);
}


/*
.next {
	font-size: 4em;
	cursor: pointer;
	float: right;
	color: var(--button-color);
	line-height: 75px;
	border-radius: 5px;
}
*/
.restart,.exitX,.nextPlace,.prevPlace {
	font-size: 50px;
	padding: 0 1% 0 1%;
	cursor: pointer;
	color: var(--button-color);
	border-radius: 5px;
	position: relative;
}
.restart {
	font-weight: bold;
	float: left;
	left: -20px;
}
.exitX {
	float: right;
	font-size: 15px;
	padding: 0;
}
.restart:hover,.exitX:hover{
	color:  var(--hover-color);
}
.nextPlace {
	float: right;
}
.prevPlace {
	float: left;
	left: -20px;
	
	-webkit-transform:scale(-1,1);
    -moz-transform:scale(-1,1);
    -o-transform:scale(-1,1);
}

.nextPlace:hover,.prevPlace:hover{
	background-color: var(--button-color);
	color:  var(--hover-color);
}

.highlight {
	background-color: var(--button-color);
	color: var(--hover-color) !important;
	border-color: black !important;
}
h3 > .highlight {
	background-color: var(--main-text-color);
	color: var(--hover-color) !important;
	border-color: black !important;
}

.highlight2 {
	color: var(--hover-color) !important;
}

.changeBackground {
	background-color: var(--button-color);
}

.projectTitle {
	width: 100%;
	/*display: inline-block;*/
}
#paneNavigator {
	grid-column: 1/-1;
	height: 5em;
	padding: 0px 0px 0px 0px;
	/*background-image: linear-gradient(to bottom, var(--main-bg-color) 90%, rgba(255,244,219,0));*/
}

/* map */
/*
#mapid {
	height: 93%;
	width: 100%;
	/*position: absolute;
	left: 0px;
    z-index: 1;
	border-top-right-radius: 20px;
}
*/
/* nav

ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display: block;
	height: calc(var(--navheight));
}
/*
.li-nav {
    float: right;
}
*/
li a {
	font-family: var(--main-font);
	/*font-size: calc(var(--font-multiplier) * 1.2em);*/
    display: block;
    /*color: var(--link-color);*/
    text-decoration: none;
	padding: calc(var(--navheight)/4);
	height: calc(var(--navheight)/2);
}

a {
	/*color: var(--link-color);*/
}

#title {
	float: left;
	display: inline-block;
}
#logo {
	height: 80%;
	width: auto;
	margin: auto;
}

#searchBar {
    padding: calc(var(--navheight)/2);
}

#mapdropdown {
	font-family: var(--main-font);
	font-size: calc(var(--font-multiplier) * 0.9em);
    display: block;
    color: var(--nav-title-color);
    text-decoration: none;
	/*margin: calc(var(--navheight)/2) calc(var(--navheight)/2) calc(var(--navheight)/2) calc(var(--navheight)*2);*/
	margin: 3.5vh 2vh 2vh 2vh;
	width: 250px;
	float: left;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: var(--main-font);
    font-size: 1em;
}

.ui-widget {
    font-family: var(--main-font);
    font-size: 1.3em;
}

/* Popup container - can be anything you want 
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/
/* onmouseover Popup adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup */

/* The actual popup 
.popup .popuptext {
	visibility: hidden;
	
	background-color: #555;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 4px 0;
	position: absolute;
	z-index: 1;
	top: 125%;
	left: 50%;
	margin-left: -80px;
	font-family: var(--main-font);
	color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * 16px);
	font-weight: regular;
}
*/
/* Popup arrow 
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/
/* Toggle this class - hide and show the popup 
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
*/

.show {
  visibility: visible;
}

.hide {
	display: none;
}

.contentContainer .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/** scrollbar **/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: var(--main-font);
  color: rgb(200,200,200);
  font-size: calc(var(--font-multiplier) * 16px);
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: var(--main-font);
  color: rgb(200,200,200);
  font-size: calc(var(--font-multiplier) * 16px);
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: var(--main-font);
  color: rgb(200,200,200);
  font-size: calc(var(--font-multiplier) * 16px);
}
:-moz-placeholder { /* Firefox 18- */
  font-family: var(--main-font);
  color: rgb(200,200,200);
  font-size: calc(var(--font-multiplier) * 16px);
}

/* selection 

::-moz-selection {
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}
*/


/** Mobile CSS **/
@media (max-width: 700px) {
	.splash-grid-container > div:nth-child(1) {
	  grid-template-columns: 1fr;
	}
}
@media all and (max-width: 1000px) { 
	.splash-grid-container {
		grid-template-columns: 1fr;
		grid-template-areas:
		"nav nav nav nav nav nav nav"
	    "title title title title title title title"
		"note1 note1 note1 note1 note1 note1 note1"
	    "note2 note2 note2 note2 note2 note2 note2"
		"img img img img img img img"
		"note3 note3 note3 note3 note3 note3 note3";
	}

	#mapid {

	top: 55px;
	width: 100%;
	height: 47%;

	}
	
	#leftPane {
	position: absolute;
	bottom: -5px;
	width: 100%;
	height: 50%;
	}
	
	footer {
	height: 20px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	color: var(--nav-title-color);
	bottom: 0px;
	}

	.mediaWrapper {

	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
		
	}

}




























