{% if not collections.post %}
    <p>No posts to display.</p>
{% else %}
    {% set firstPostPrinted = false %}
    {% for post in collections.post | reverse %}
        {% if not firstPostPrinted %}
            <a href="{{post.url}}" class="post">
                <p class="date">{{ post.date | formatDate }}</p>
                <h2>{{ post.data.title }}</h2>
                <p>{% excerpt post %}</p>
            </a>
            {% if layout == "landing.html" %}
                {% set firstPostPrinted = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}