<head>
    <meta charset="UTF-8">
    <title>{{ site.title }} | {{ title }}</title>
    
    <link rel="shortcut icon" href="/imgs/atlascine-logo.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/variables.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script async type="text/javascript" src="/js/main.js" defer></script>
</head>