{% if landingpage %}
    <div class="nav-items">
    {% for p in collections.navitems %}
        {% if p.data.redirect %}
        <a href="{{ p.data.redirect }}" target="_blank">
        {% else %}
        <a href="{{ p.data.title | slugify }}">
        {% endif %}
        {{ p.data.title | safe }}
        </a>
    {% endfor %}
    </div>
{% else %}
    <!-- render nothing -->
{% endif %}
<div class="header">
    {% if landingpage %}
        <header>{{ title | safe }}</header>
    {% else %}
        <header><a href="/">Atlascine</a></header>
    {% endif %}
</div>
