<div id="svg-animation">
    <svg>
        {% include 'ring-animation.svg' %}
    </svg>
    <svg viewBox="0 0 100 100">
        {% include 'blank-media.svg' %}
    </svg>
    <div id="colorize">
        <!--have these as list items in markdown and formatted as inline, emdash-separated list items -->
        <span>Use Atlascine to</span>
        <span>Create interactive, animated maps from narrative content</span>
        <span>Annotate stories thematically and geographically</span>
        <span>Explore temporal and spatial patterns</span>
        <span>Communicate and exhibit your stories in an online atlas</span>
    </div>
</div>