<div id="svg-animation">
    <svg>
        {% include 'ring-animation.svg' %}
    </svg>
    <svg viewBox="0 0 100 100">
        {% include 'blank-media.svg' %}
    </svg>
    <div id="colorize">
        <h2>
            <!--have these as list items in markdown and formatted as inline, emdash-separated list items -->
            <span>Create interactive, animated maps from narrative content</span> &mdash;
            <span>Annotate stories thematically and geographically</span> &mdash;
            <span>Explore temporal and spatial patterns</span> &mdash;
            <span>Communicate and exhibit your stories in an online atlas</span>
        </h2>
    </div>
</div>