---
tags: [nav-items, index-pages]
title: 'Les atlas'
translationKey: "browse-atlases"
layout: 'basic.html'
date: 2023-06-13
---
<p>Atlascine est utilisé dans une variété de projets de recherche et de pédagogie dans des domaines comme l'histoire orale, la cartographie, la mémoire des lieux, les études sur le génocide ou l'histoire de l'art.
Près de 150 récits et entrevues ont déjà été cartographiés avec Atlascine à travers différents projets d'atlas. Une sélection d’entre eux est présentée ci-dessous. N'hésitez pas à les utiliser comme ressources pour vos propres projets.</p>

{% include 'tile-gallery.html' %}
