<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Atlascine | {{ title }}</title>
		<link rel="shortcut icon" href="/imgs/atlascine-logo.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="/css/variables.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/css/layout-landing.css" />
		<!--<script src="https://d3js.org/d3.v7.min.js"></script>-->
		<script async type="text/javascript" src="/js/functions.js" defer></script>
	</head>
	<body>
		<div class='grid-container'>
			{% set basicpage = true %}
			{% include 'navbar.html' %}
			<div class="left-pane vertical-centre">
				<!--{% include 'list-index-pages.html' %}-->
			</div>
			<div class="content">
				<h1>{{ title }}</h1>
				{{ content | main | safe }}
				
			</div>
			<!--
			<div class="note2">
				<p>
					{{ content | sidenote | safe }}
				<p>
			</div>
			-->
		</div>
		{% include 'footer.html' %}
	</body>

</html>