<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ title }}</title>
		<link rel="shortcut icon" href="imgs/atlascine-logo.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/variables.css" />
		<link rel="stylesheet" type="text/css" href="css/layout-landing.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

		<script src="https://d3js.org/d3.v7.min.js"></script>
		<script async type="text/javascript" src="js/basic.js" defer></script>
	</head>
	<body>
		<div class='grid-container'>
			{% set landingpage = true %}
			{% include 'navbar.html' %}
			<div class="content vertical-centre" style="grid-column: span 2;">
				{{ content | safe }}
			</div>
			{% include 'image.html' %}
		</div>
		{% include 'footer.html' %}
	</body>

</html>