
/* splash page */

.splash-grid-container {
	display: grid;
	/*grid-template-rows: auto auto auto;
	grid-auto-rows: auto;*/
	border-bottom: 20px solid var(--main-bg-color);
	place-items: stretch stretch;
	grid-row-gap: 0vh;
	column-gap: 0vw;
	box-sizing: border-box;
	grid-template-areas:
		"title title nav nav nav nav nav"
	    "title title note1 note1 note1 note1 note1"
	    "note2 note2 img img img img img"
		"note3 note3 note3 note3 note3 note3 note3"
		"note4 note4 note4 note4 note4 note4 note4";
}

.splash-grid-container > div:nth-child(1) {
	grid-area: nav;
	display: inline-grid;
	grid-template-columns: repeat( auto-fit, minmax(15%, 1fr) );
	/*grid-auto-rows: auto;*/
	place-items: stretch stretch;
	grid-column-gap: 0vw;
	box-sizing: border-box;
	padding: 1vh 1vw 1vh 0;
	line-height: calc(var(--font-multiplier) * 6vh);
	align-items: center
}

.splash-grid-container > div:nth-child(1) > a {
	padding: 0vh 0vw 0vh 0vw;
	background-color: var(--path-color);
	text-align: center;
	text-decoration: none;
	font-family: var(--main-font);
	color: var(--button-color);
	font-size: calc(var(--font-multiplier) * 1.2em);
	line-height: 4;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.splash-grid-container > div:nth-child(1) > a:hover {
    background-color: var(--hover-bg-color);
	color:  var(--hover-color);
}

.splash-grid-container > div:nth-child(2) {
	grid-area: title;
	text-align: center;
}
.splash-grid-container > div:nth-child(3) {
	grid-area: note1;
	font-size: calc(var(--font-multiplier) * 1.2em);
}

.splash-grid-container > div:nth-child(4) {
	grid-area: note2;
}

.splash-grid-container > div:nth-child(5) {
	grid-area: img;
	background-color: var(--button-color);
	background-image: url('../imgs/Screenshot 2023-04-27 010137.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1.5s;
	padding: 0;
}

.splash-grid-container > div:nth-child(6) {
	grid-area: note3;
	
}
/*
#splash-item4  {
	grid-column: 3 / span 1;
	grid-row: 1 / span 2;
	padding: 15px;
	background-image: url('cover_1.jpg');
	background-position: center;
	width: 100%;
	border-radius: 10px;
}
*/

.tile-gallery {
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
	grid-gap: 0vw;
}

.tile-gallery p {
	font-size: calc(var(--font-multiplier) * .8em);
}

.tile-gallery > a > div {
	border-radius: 8px;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40vh;
	position: relative;
}

.tile-gallery > a {
	text-decoration: none;
	padding: 1vh;
}

.tile-gallery > a > div > div {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	padding: 2vw;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: aliceblue;
	border-radius: 5px;
	padding: 2vw;
	margin: 0 2vw 0vh 2vw;
	max-height: 60%;
	top: 4vh;
	position: relative;
}

.gallery {
	height: 50vh;
	overlow-x: auto;
	overflow-y: hidden;
	z-index: 1000;
	white-space: nowrap;
}
  
.gallery > div {
	width: 60vw;
	height: 100%;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gallery > div > div {
	position: relative;
	width: 30%;
	height: 50%;
}

.gallery h2 {
	color: var(--main-font-color);
	font-family: var(--main-font);
	font-size: calc(var(--font-multiplier) * 2em);
	text-align: center;
	position: relative;
	top: 10%;
	left: 2%;
}

.gallery p {
	position: relative;
	top: 15%;
	left: 2%;
	white-space: normal;
}

.pitches {
	font-family: 'Josefin Sans', sans-serif;
	color: var(--nav-title-color);
	font-size: calc(var(--font-multiplier) * 2em);
	margin: 1vh;
	text-align: center;
}


#cover1 {
	height: 75vh;
}