@charset "utf-8";

/* html types */

h1 {
	font-family: var(--main-font);
	color: var(--nav-title-color);
	font-size: calc(var(--font-multiplier) * 2em);
	font-weight: bold;
	margin: 3vh 0px 3vh 0px;
	text-decoration: none;
}

h2 {
	font-family: var(--main-font);
	font-size: calc(var(--font-multiplier) * 1.5em);
	font-weight: bold;
	font-style: italic;
	padding:0px 0px 0px 0px;
}

h3 {
	font-family: var(--main-font);
	color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * .8em);
	font-weight: normal;
	font-style: italic;
}
h4 {
	font-family: var(--main-font);
	color: var(--hover-color);
	font-size: calc(var(--font-multiplier) * .6em);
	font-weight: regular;
}
p {
	font-family: var(--main-font);
	color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * 1.4em);
	font-weight: normal;
	padding:0px 0px 0px 0px;
}
a {
	color: var(--link-color);
}
span {
	font-family: var(--main-font);
	color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * 1.4em);
	font-weight: normal;
	padding:0px 0px 0px 0px;
}
ul {
	list-style: none;
    padding: 0;
}

li {
	font-family: var(--main-font);
	color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * .8em);
	font-weight: normal;
	padding:0px 0px 0px 0px;
}
li::before {
    content: "—";
    margin-right: 0.5em;
}
li a {
	font-size: calc(var(--font-multiplier) * 1.2em);
}

button {
    cursor: pointer;
    padding: 2px 15px;
    margin-left: 10px;
}
hr {
	border: 0;
	height: 1px;
	background: var(--main-text-color);
	background-image: linear-gradient(to right,  var(--main-bg-color), var(--main-text-color), var(--main-bg-color));
}

img {
	max-width: 100%;
}

/* body */

.grid-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(auto-fill, 1fr);
	padding: 4vh 3vw 4vh 3vw;
	grid-row-gap: 2vh;
	column-gap: 2vw;
}

.left-pane {
	grid-area: span 1 / span 1;
	font-size: calc(var(--font-multiplier) * 1.2em);
}

.left-pane li {
	list-style-type: none;
	line-height: calc(var(--font-multiplier) * 1.8em);
	font-size: calc(var(--font-multiplier) * 1.1em);
}

.left-pane li::before {
    content: none;
    margin-right: 0.5em;
}

.left-pane li > a {
	text-decoration: none;
	color: var(--button-color);
}

.left-pane li > a:hover {
	color: var(--hover-color);
	background-color: var(--tag-color);
}
.left-pane > h2 {
	padding: 2vh 0 2vh 0;
}


.vertical-centre {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.image {
	grid-area: span 1 / span 4;
	height: 60vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.2s ease-in-out;
}
/*
.splash-grid-container {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(15%, 1fr) );
	grid-template-rows: auto auto auto;
	grid-auto-rows: auto;
	border-bottom: 20px solid var(--main-bg-color);
	place-items: stretch stretch;
	grid-row-gap: 0vh;
	column-gap: 0vw;
	box-sizing: border-box;

	grid-template-areas:
		"title nav nav nav nav nav nav"
	    "note2 note2 map map map media media"
		"note2 note2 map map map transcript transcript"
		"note4 note4 note4 note4 note4 note4 note4";
	
}
*/
#svg-animation {
	grid-area: span 2 / span 4;
	width: 100%;
	height: 50vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	overflow: hidden;
	border: 1px solid black;
}

#svg-animation svg {
	width: 100%;
	height: 100%;
}

#svg-animation > :nth-child(1) {
	grid-area: span 2 / span 1;
	background-color: var(--button-color);
	background-image: url('/imgs/Screenshot 2023-04-27 010137.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1.5s;
	padding: 0;
}
#svg-animation > :nth-child(2) {
	grid-area: span 1 / span 1;
	background-color: black;
	min-height: 20vh;
}

#svg-animation > :nth-child(3) {
	grid-area: span 1 / span 1;
	background-color: white;
	padding: 2vh;
}

.note1 h2 {
	font-size: calc(var(--font-multiplier) * 1.2em);
	font-style: italic;
}

.splash-grid-container > div:nth-child(3) {
	grid-area: transcript;
	font-size: calc(var(--font-multiplier) * 1.2em);
}

.content {
	grid-area: span 2 / span 4;
	scroll-behavior: smooth;
}

.splash-grid-container > div:nth-child(6) {
	grid-area: media;
}


/* header */

.title {
	grid-area: span 1 / span 2;
	text-align: center;
}

header img {
	width: 24rem;
}

header {
	font-family: var(--main-font);
	color: var(--nav-title-color);
	font-size: calc(var(--font-multiplier) * 5em);
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}
header a {
	text-decoration: none;
	font-weight: bold;
	color: var(--nav-title-color);
	font-size: calc(var(--font-multiplier) * .8em);
}

/* nav-items */

.nav-items {
	grid-area: span 1 / span 3;
	display: inline-grid;
	grid-template-columns: repeat( 5, 1fr );
	/*grid-auto-rows: auto;*/
	place-items: stretch stretch;
	grid-column-gap: 0vw;
	box-sizing: border-box;
	width: 100%;
	/*height: 15vh;*/
	padding: 1vh 1vw 1vh 0;
	line-height: calc(var(--font-multiplier) * 6vh);
	align-items: center;
	direction: rtl;
	transition: display 0.2s ease-in-out;
}

.nav-items > div, .nav-items + .lang-selector {
	grid-area: span 1 / span 1;
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	align-items: center;
	height: 4vh;
	/*padding: 2vh 0 2vh 0;*/
	text-align: center;
	text-decoration: none;
	font-family: var(--main-font);
	color: var(--button-color);
	font-size: calc(var(--font-multiplier) * 1.4em);
	line-height: 8vh;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	direction: ltr;
}

.nav-items + .lang-selector {
	grid-area: span 1 / span 1;
	padding: 1vh 1vw 1vh 0;
	height: 8vh;
}

.nav-items svg {
	fill: var(--button-color);
	cursor: pointer;
}

#open {
	flex-direction: column;
}

#close {
	display: none;
	flex-direction: column;
}

.nav-items > a {
	font-size: calc(var(--font-multiplier) * 1.4em);
	color: var(--button-color);
}

.nav-items > a, .nav-items + .lang-selector a[href] {
	grid-area: span 1 / span 1;
	text-align: center;
	text-decoration: none;
	font-family: var(--main-font);
	line-height: 8vh;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: all 0.2s ease-in-out;
	direction: ltr;
}

.lang-selector {
	height: 4vh;
}

.lang-selector a {
	padding: .4vh .4vw .4vh .4vw;
}

footer .lang-selector a {
	line-height: 4vh;
}

.nav-items > a[href]:hover, footer a[href]:hover, .lang-selector a[href]:hover {
    background-color: var(--hover-bg-color);
	color:  var(--hover-color);
}

.nav-item svg {
	margin-bottom: -3%;
}

.inline-grid {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	place-items: stretch stretch;
	grid-row-gap: 0vh;
	grid-column-gap: 0vw;
	padding: 4vh 0 4vh 0;
	box-sizing: border-box;
	place-items: center;
}

/* footer */


footer {
	background-color: var(--hover-color);
	display: grid;
	place-items: stretch stretch;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(auto-fill, 1fr);
	margin-top: 5vh;
	padding: 2vh 2vw 2vh 2vw;
}

footer ul {
	margin: 0;
	padding: 0 0 0 0;
}

footer ul svg {
	margin-bottom: -1%;
}

footer li::before {
    content: none;
    margin-right: 0.5em;
}

footer li a {
	font-family: var(--main-font);
	font-size: calc(var(--font-multiplier) * 1.3em);
	color: var(--link-color);
	text-decoration: none;
}

footer h2 {
	font-family: var(--main-font);
	font-size: calc(var(--font-multiplier) * 1em);
	color: var(--link-color);
	text-decoration: none;
	filter: invert(.4);
}

footer p {
	font-size: calc(var(--font-multiplier) * 0.6em);
	filter: invert(.6);
	padding:0px 0px 0px 0px;
}

footer > .index {
	grid-area: span 2 / span 1;
}

footer > .brands {
	grid-area: span 2 / span 5;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(25%, 1fr) );
	padding: 1vh 2vw 1vh 2vw;
}

.brands > div {
	display: flex;
}
.brands > div > img {
	width: 80%;
	margin: auto;
    filter: grayscale(1) invert(1);
}

/* tile-gallery */

.tile-gallery {
	display: grid;
  	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1.5vw;
}

.tile-gallery > a {
	grid-area: span 1 / span 1;
	text-decoration: none;
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.tile-gallery > a > div {
	/*border-radius: 8px;*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.2s ease-in-out;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.tile-gallery > a > div > div {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
	background-color: aliceblue;
	position: relative;
	height: 100%;
	padding: 5vw;
}

.tile-gallery > a > div > div > p {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 50; /* Number of lines to show */
	-webkit-box-orient: vertical;
	font-size: calc(var(--font-multiplier) * 1em);
}






/*
#splash-item4  {
	grid-column: 3 / span 1;
	grid-row: 1 / span 2;
	padding: 15px;
	background-image: url('cover_1.jpg');
	background-position: center;
	width: 100%;
	border-radius: 10px;
}
*/

/** Mobile CSS **/

@media all and (max-width: 2000px) {
	.tile-gallery {
		grid-template-columns: 1fr;
	}
}

@media all and (max-width: 1000px) {
	.splash-grid-container {
		grid-template-columns: 1fr;
		grid-template-areas:
		"nav nav nav nav nav nav nav"
	    "title title title title title title title"
		"note1 note1 note1 note1 note1 note1 note1"
	    "note2 note2 note2 note2 note2 note2 note2"
		"img img img img img img img"
		"note3 note3 note3 note3 note3 note3 note3";
	}
	footer {
		grid-template-areas:
			"index index index index index index index"
			"brands brands brands brands brands brands brands";
	}
	footer > div:nth-child(1) {
		text-align: center;
	}
	footer > div:nth-child(2) {
		padding: 0;
	}
	.tile-gallery {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 700px) {
	.splash-grid-container > div:nth-child(1) {
		grid-template-columns: 1fr;
	}
	footer > div:nth-child(2) {
		grid-template-columns: 1fr;
	}
	footer > div:nth-child(2) > div {
		margin: 2vh 0 2vh 0;
	}
	.tile-gallery {
		grid-template-columns: 1fr;
	}
}


/* scratch */

.gallery {
	height: 50vh;
	overlow-x: auto;
	overflow-y: hidden;
	z-index: 1000;
	white-space: nowrap;
}
  
.gallery > div {
	width: 60vw;
	height: 100%;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gallery > div > div {
	position: relative;
	width: 30%;
	height: 50%;
}

.gallery h2 {
	color: var(--main-font-color);
	font-family: var(--main-font);
	font-size: calc(var(--font-multiplier) * 2em);
	text-align: center;
	position: relative;
	top: 10%;
	left: 2%;
}

.gallery p {
	position: relative;
	top: 15%;
	left: 2%;
	white-space: normal;
}

.pitches {
	font-family: 'Josefin Sans', sans-serif;
	color: var(--nav-title-color);
	font-size: calc(var(--font-multiplier) * 2.5em);
	margin: 1vh;
	text-align: center;
}


#cover1 {
	height: 75vh;
}

