---
tags: [nav-items, index-pages]
title: 'Atlases'
translationKey: 'browse-atlases'
layout: 'gallery.html'
date: 2023-06-12
---
<p>Atlascine has been used in a variety of research and pedagogical projects in domains such as Oral History, Cartography, Memories of Places, Genocide Studies and Art History. 
More than 150 stories and interviews have already been mapped with Atlascine across different atlas projects. A selection of these are presented below. Feel free to use them as ressources for your own projects.</p>

{% include 'tile-gallery.html' %}
